/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .menu .show-on-mobile {
            height: 100vh;
            background: #184b6a;
            padding: 10px;
        }
        .footericons li a {
            font-size: 1em;
            line-height: 1em;
            padding: 0 1em;
        }
        .logndlang {
            margin: 35px 0 0 0;
        }
        .section__content {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .onezone {
            margin-right: 0;
            margin-top: 0;
        }
        .twozone {
            margin-top: 100px;
            margin-right: -30px;
        }
        .threezone {
            margin-top: 10px;
            margin-right: -20px;
        }
        .fourzone {
            margin-top: 70px;
            margin-right: -20px;
        }
        .fivezone {
            margin-top: 15px;
            margin-right: -35px;
        }
        .sixzone {
            margin-top: 85px;
            margin-right: -30px;
        }
        .sevenzone {
            margin-top: 5px;
            margin-right: -25px;
        }
        .eightzone {
            margin-right: 0;
            margin-top: 90px;
        }
        .listfooter li a, .footerleft, .copyright span {
            font-size: 1em;
        }
        .mapframe h1 {
            font-size: 1.6em;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        #map { height: 400px; }
        #business { margin-top: 10px; margin-bottom: 5px; }
        .logndlang { margin: 0 0 0 0; }
        .logndlang a { margin-top: 8px; }
        
        .onezone { width: 115px; height: 115px; margin: 0; }
        .twozone, .fivezone { width: 90px; height: 90px; margin: 15px 0 0 0; }
        .threezone { width: 115px; height: 115px; margin: 0; }
        .fourzone { width: 115px; height: 115px; margin: 0; }
        .sixzone { width: 115px; height: 115px; margin: 0; }
        .sevenzone { width: 115px; height: 115px; margin-top: -20px; margin-right: 60px; }
        .eightzone { margin-right: 180px; margin-top: -110px; }
        .listfooter li a, .footerleft, .copyright span { font-size: 1em; }
        .mapframe h1 { font-size: 1.6em; }
        .catigary p { height: auto; line-height: 1em; margin-top: 10px;}
        .lefthometext { width: auto; }

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        #map { height: 400px; }
        #business { margin-top: 10px; margin-bottom: 5px; }
        .logndlang { margin: 0 0 0 0; }
        .logndlang a { margin-top: 8px; }
        .catigary p { height: auto; line-height: 1em; margin-top: 10px;}
        .lefthometext { width: auto; }
        .onezone { width: 105px; height: 105px; margin: 0; }
        .twozone { width: 70px; height: 70px; margin: 22px 0 0 0; }
        .threezone { width: 105px; height: 105px; }
        .fourzone { width: 105px; height: 105px; margin: 0; }
        .fivezone { width: 70px; height: 70px; margin: 22px 0 0 0; }
        .sixzone { width: 105px; height: 105px; margin: 0; }
        .sevenzone { width: 105px; height: 105px; margin: 0;}
        .eightzone { width: 70px; height: 70px; margin: 22px 0 0 0; }
        .textformatbanner { font-size: 14px; }
        .rightblockbanner3, .rightblockbanner2, .rightblockbanner1 { width: 200px; }

    }
